@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; /* Mejora el renderizado de fuentes */
  scroll-behavior: smooth; /* Navegación suave en anclas */
  background-color: #f8f1f4;
  padding-top: 80px;
}

.font-parrafros {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-titulos {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hojas-bg {
  background-image: url("./assets/imgs/hoja1.png"),
    url("./assets/imgs/hoja5.png"), url("./assets/imgs/hoja2.png"),
    url("./assets/imgs/hoja6.png");
  background-size: 11%, 11%, 20%, 20%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
    bottom right,
    bottom left,
    top left,
    top right;

  @media (max-width: 768px) {
    background-size: 25%, 30%, 30%, 30%;
  }
}