
.leave {
  width: 5vh;
  height: 4.3vh;
  border-radius: 0 50% 50% 50%;
  position: absolute;
  opacity: 0.7;
  animation: fall infinite linear;
}

.leave::before {
  width: 0.3em;
  height: 1em;
  top: 1.3em;
  left: 1.5em;
  transform: rotate(-50deg);
  background: inherit;
  content: '';
  position: absolute;
}

/* Animaciones de diferentes hojas */
@keyframes fall {
  0% {
    transform: translateY(-5vh) rotate(0deg);
  }
  100% {
    transform: translateY(calc(49.15rem + 1vw)) rotate(180deg);
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}